/*
   Generic styles
*/
body {
   font-family: sans-serif;
   font-size: 16px;
   background-color: #DDDDFF;
}

@media all and (max-width: 560px) {
   body {
      font-size: 14px;
   }
}


/*
   Styles for the elements in the header when the user is logged in
*/

h1.loggedInLogo, form.searchBar, nav.importantLinks {
   float: left;
}

header.loggedInHeader {
   padding-left: 5.38461%; /* 70px/1300px; where 1300px is the 'standard width' for the 'body' tag */
   background-color: #003399;
   width: 100%;
   position: fixed;
   top: 0px;
   left: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
}

a.linkContainingLoggedInLogo {
   text-decoration: none;
}

h1.loggedInLogo {
   border: 0px;
   background-color: white;
   color: #003399;
   margin: 0px 6px 10px 10px;
   padding: 0px 2px 0px 15px;
   font-family: Aharoni, sans-serif;
   font-size: 1.5625em; /* 25px/16px; where 16px is the 'standard font size' of the 'body' tag */
}

form.searchBar {
  width: 46.153846%; /* 600px/1300px; where 1300px is the 'standard width' of the 'header.loggedInHeader' */
  padding: 0px;
}

input.inputFieldForSearchBar {
   width: 66.666667%;  /* 400px/600px where 600px is the 'standard width' of the 'form.searchBar' */
   margin: 0px 0px 10px 0px;
   color: #AAA;
   background-color: white;
   font-size: 0.875em; /* 14px/16px */
}

input.searchButton {
   margin: 4px 0px;
}

nav.importantLinks {
   margin: 4px 50px 10px 0px;
   background-color: #003399;
}

nav.importantLinks  ul {
   margin: 0px;
   list-style-type: none;
}

nav.importantLinks  li {
   float: left;
}

a.importantLink {
   font-size: 0.8125em; /* 13px/16px */
   font-weight: bolder;
   text-decoration: none;
   margin-left: 10px;
   color: white;
   padding: 5px;
}

input.logOutButton {
   margin-top: 4px;
   margin-right: 60px;
   background-color: #003399;
   color: white;
   border-color: #003399;
}

input.logOutButton:hover {
   background-color: #4477DD;
}

pre.spaceBelowLoggedInHeader {
   margin-bottom: 50px;
}

@media all and (min-width: 560px) and (max-width: 1200px) {
   header.loggedInHeader {
      height: 70px;
   }

   pre.spaceBelowLoggedInHeader {
      margin-bottom: 80px;
   }

   input.logOutButton {
      margin-left: 50px;
   }
}

@media all and (max-width: 560px) {
   header.loggedInHeader {
      height: 130px;
      position: absolute;
   }

   pre.spaceBelowLoggedInHeader {
      margin-bottom: 130px;
   }

   form.searchBar {
      width: 80%;
   }

   input.logOutButton {
      margin-left: 50px;
   }
}


/*
   Styles for the body element when the user is logged in
*/

div.loggedInBody {
   margin-left: 15.384615%; /* 200px/1300px */
   width: 46.153846%; /* 600px/1300px */
}


/*
   Styles for the form for posting status update
*/

form.formForPostingStatusUpdate {
   padding: 0;
}

label.containerForStatusUpdateTextArea, label.containerForStatusUpdateButton {
   display: block;
   width: 100%;
}

label.containerForStatusUpdateTextArea {
   margin: 0;
}

p.statusUpdateDescription {
   padding: 5px;
   margin: 0;
   color: #666;
}

textarea.statusUpdateTextArea {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100px;
   border: 1px solid #CCCCFF;
   font-family: "Bradley Hand ITC", "MV Boli", sans-serif;
   font-size: 1.2em;
}

label.containerForStatusUpdateButton {
   background-color: #EEEEFF;
   height: 40px;
   margin: 0;
   border: 1px solid #CCCCFF;
}

input.statusUpdateButton {
   float: right;
   margin: 10px;
   padding: 3px 30px;
   background-color: #003399;
   color: white;
   border-color: #003399;
}

input.statusUpdateButton:hover {
   background-color: #4477DD;
}

/*
   Styles for each status update
*/

section.statusUpdate {
   background-color: white;
   border: 1px solid #CCCCFF;
   margin: 20px 0px;
   padding: 0;
}

header.statusUpdateHeader {
   padding: 10px;
}

h2.nameOfPoster {
   margin: 0;
   font-size: 1.1em;
}

h3.timeOfPosting {
   margin: 0;
   font-size: 0.8em;
   font-weight: lighter;
   color: #666;
}

div.statusUpdateText {
   padding: 20px 30px;
}

footer.statusUpdateFooter {
   padding: 0px 10px;
   background-color: #EEEEFF;
   border-top: 1px solid #CCCCFF;
   font-size: 0.85em;
}

footer.statusUpdateFooter div {
   padding: 8px;
   border-bottom: 1px solid #CCCCFF;
}

form.containerForLikeButton {
   display: inline;
   margin-right: 40px;
}

form.containerForCommentField {
   padding: 8px;
}

input.commentField {
   padding: 5px;
   width: 85%;
}

input.commentButton {
   padding: 5px;
}


/* 
   Styles for the elements at the top of profile pages
*/

section.mainSectionOfProfilePage {
   width: 65.384615%; /* 850px/1300px; where 1300px is the 'standard width' of the 'body' element */
   margin: 0px 0px 0px 4.61538%; /* 4.61538% == 60px/1300px */
   padding: 0px;
   position: absolute;
   z-index: -20;
}

div.topOfProfilePage {
   position: relative;
   padding: 0px;
   border: 1px solid #CCCCFF;
   background-color: white;
   z-index: -10;
   height: 302px;
   margin: 0px;
}

img.coverPhoto {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: -5;
   background-color: none;
}

div.userNames {
   float: left;
   margin-top: 150px;
   margin-left: 200px;
   font-size: 0.8125em; /* 13px/16px */
   color: white;
}

nav.otherImportantLinks {
   clear: both;
   padding: 10px 0px 0px 200px;
   margin-top: 260px;
   height: 40px;
   background-color: none;
}

nav.otherImportantLinks ul {
   margin: 0;
}

nav.otherImportantLinks  li {
   list-style-type: none;
   float: left;
}

a.otherImportantLink {
   clear: both;
   padding: 12px 15px;
   border-left: 1px solid #CCCCFF;
   color: #003399;
   text-decoration: none;
   font-size: 14px;
   font-weight: bolder;
}

a#currentPage {
   color: #444;
}

span.numberOfFriends {
   font-size: 0.625em; /* 10px/16px */
   font-weight: lighter;
}

@media screen and (max-width: 1000px) {
   section.mainSectionOfProfilePage {
      width: 90%;
   }
}

@media screen and (max-width: 750px) {
   /*
      When the browser window has width of 750px, the section.mainSectionOfProfilePage has 
      a width of: (90% * 750px == 675px)
   */
   nav.otherImportantLinks {
      padding-left: 2.96296296%; /* 20px/675px */
   }
}

@media screen and (max-width: 560px) {
   section.mainSectionOfProfilePage {
      margin-left: 0px;
   }

   div.topOfProfilePage {
      background-color: #DDDDFF;
      border: none;
      height: 130px;
      border-bottom: 2px solid #CCCCFF;
   }

   img.coverPhoto {
      display: none;
   }

   div.userNames {
      margin-top: 0px;
      margin-left: 10px;
      color: black;
   }

   nav.otherImportantLinks {
      margin-top: 80px;
   }

   nav.otherImportantLinks ul {
      padding: 0;
   }

   a.otherImportantLink {
      padding: 12px 12px;
      border: none;
      text-decoration: underline;
   }
}


/*
   Styles for the user details which display in the aboutMe.php page
*/

section.userDetail {
   width: 76.4705882352941%; /* 650px/850px; 850px is the 'standard width' of section.mainSectionOfProfilePage */
   margin-left: 23.5294176470588%; /* 200px/850px */
   margin-top: 20px;
   border: 1px solid #CCCCFF;
}

header.headerForUserDetail {
   background-color: #EEEEFF;
   border-bottom: 1px solid #CCCCFF;
   width: 100%;
   height: 40px;
   margin: 0;
}

h2.headingForUserDetail, p.editLinkForUserDetail {
   padding: 10px;
   margin: 0px;
}

h2.headingForUserDetail {
   float: left;
   width: 60%;
   font-family: "Times New Roman", serif;
   font-weight: bolder;
   text-transform: uppercase;
   font-size: 0.8125em; /* 13px/16px */
}

p.editLinkForUserDetail {
   float: right;
   text-align: right;
}

p.bodyForUserDetail {
   clear: both;
   background-color: white;
   padding: 50px 10px;
   margin: 0;
}

section.userDetail a {
   text-decoration: none;
}

@media screen and (max-width: 560px) {
   /*
      When the browser window has width of 560px, then the section.mainSectionOfProfilePage has 
      a width of: (90% * 560px = 504px)
   */
   section.userDetail {
      width: 99.2063492%;  /* 500px/504px */
      margin-left: 0.793650%; /* 4px/504px */
   }  
}


/*
   Styles for the elements in the form for editing profile details
*/

div.containerForEditForm {
   width: 76.9230%;   /* 1000px/1300px */
   margin: auto;
   background-color: white;
   border: 1px solid #CCCCFF;
   padding: 1.538461%;   /* 20px/1300px */
}

div.containerForEditForm  h2, div.containerForEditForm  h3 {
   color: #003399;
}

label.fieldInEditForm {
   display: block;
   padding: 1.5625%; /* 15px/960px; 960px is the width of the containing 'form' element */
   font-size: 0.9em;
}

span.errorMessageInEditForm {
   color: red;
   font-family: "Courier New", "Times New Roman", serif;
   font-size: 0.9em;
}

input.buttonInEditForm {
   background-color: #003399;
   color: white;
   border-color: #003399;
   font-weight: bolder;
}

input.buttonInEditForm:hover {
   background-color: #CCC;
   color: #003399;
}

textarea.textAreaInEditForm {
   width: 50%;
   height: 100px;
}

@media all and (max-width: 700px) {
   textarea.textAreaInEditForm {
      width: 90%;
   }
}


/*
   Styles specific to the editLnaguagesSpokenDetailsRedirected.php
*/
section.languageEntry {
   float: left;
   height: 150px;
   width: 43%; /* 430px/1000px; where 1000px is the 'standard width' of div.containerForEditForm */
   margin: 1.4%; /* 14px/1000px */
   padding: 1%; /* 10px/1000px */
   border: 1px solid #CCCCFF;
}

p.languageNumber, div.languageName {
   float: left;
}

p.languageNumber {
   margin-right: 2%; /* 20px/1000px */
   font-family: "Copperplate Gothic Bold", "Berlin Sans FB Demi", Consolas, sans-serif;
   color: #003399;
}

div.languageName {
   width: 69.76744186%; /* 300px/430px; where 430px is the 'standard width' of the containing section.languageEntry */
}

div.languageName  input.buttonInEditForm {
   margin-top: 5px;
}

form.containerForExtraButtonsInEditForm {
   clear: both;
}

input.extraButtonInEditForm {
   font-size: 17px;
   color: white;
   background-color: green;
   border-color: black;
   padding: 5px;
   margin-left: 14px;
   margin-top: 5px;
}

input.extraButtonInEditForm:hover {
   background-color: #00CC00;
}

@media all and (max-width: 1100px) {
   section.languageEntry {
      width: 90%;
   }
}

@media all and (max-width: 560px) {
   section.languageEntry {
      height: 200px;
   }
}
