/* 
   Styles for the elements at the top of profile pages
*/

section.mainSectionOfProfilePage {
   width: 65.384615%; /* 850px/1300px; where 1300px is the 'standard width' of the 'body' element */
   margin: 0px 0px 0px 4.61538%; /* 4.61538% == 60px/1300px */
   padding: 0px;
   position: absolute;
   z-index: -20;
}

div.topOfProfilePage {
   position: relative;
   padding: 0px;
   border: 1px solid #CCCCFF;
   background-color: white;
   z-index: -10;
   height: 302px;
   margin: 0px;
}

img.coverPhoto {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: -5;
   background-color: none;
}

div.userNames {
   float: left;
   margin-top: 150px;
   margin-left: 200px;
   font-size: 0.8125em;
   color: white;
}

nav.otherImportantLinks {
   clear: both;
   padding: 10px 0px 0px 150px;
   margin-top: 260px;
   height: 40px;
   background-color: none;
}

nav.otherImportantLinks ul {
   margin: 0;
}

nav.otherImportantLinks  li {
   list-style-type: none;
   float: left;
}

a.otherImportantLink {
   clear: both;
   padding: 12px 15px;
   border-left: 1px solid #CCCCFF;
   color: #003399;
   text-decoration: none;
   font-size: 14px;
   font-weight: bolder;
}

a#currentPage {
   color: #444;
}

span.numberOfFriends {
   font-size: 0.625em;
   font-weight: lighter;
}

@media screen and (max-width: 1000px) {
   section.mainSectionOfProfilePage {
      width: 90%;
   }
}

@media screen and (max-width: 750px) {
   /*
      When the browser window has width of 750px, the section.mainSectionOfProfilePage has 
      a width of: (90% * 750px == 675px)
   */
   nav.otherImportantLinks {
      padding-left: 2.96296296%; /* 20px/675px */
   }
}

@media screen and (max-width: 560px) {
   section.mainSectionOfProfilePage {
      margin-left: 0px;
   }

   div.topOfProfilePage {
      background-color: #DDDDFF;
      border: none;
      height: 130px;
      border-bottom: 2px solid #CCCCFF;
   }

   img.coverPhoto {
      display: none;
   }

   div.userNames {
      margin-top: 0px;
      margin-left: 10px;
      color: black;
   }

   nav.otherImportantLinks {
      margin-top: 80px;
   }

   nav.otherImportantLinks ul {
      padding: 0;
   }

   a.otherImportantLink {
      padding: 12px 12px;
      border: none;
      text-decoration: underline;
   }
}