/*
   Generic styles
*/
body {
   font-family: sans-serif;
   font-size: 16px;
}


/*
   Styles for the elements in the head of the homepage when user is logged out
*/
h2.loginMessage {
    display: none;
}

header.homepageHeader {
   background-color: #003399;
   height: 60px;
   margin: 0px;
   padding-top: 20px;
}

h1.homepageLogo, form.loginForm  {
   float: left;
}

h1.homepageLogo {
   font-family: Aharoni, sans-serif;
   color: white;
   margin: 10px 0px 40px 6%; /* 6% == 78px/1300px; where 1300px is the 'standard width' of the 'header.homepageHeader' */
}

form.loginForm {
   margin-left: 38.461538%; /* 500px/1300px  */
}

label.loginFormEntry {
   float: left;
   padding-right: 10px;
   font-size: 0.75em;
}

span.descriptionInLoginForm {
   display: block;
   color: white;
}

input.inputFieldForLoginForm {
   width: 140px;
}

input.loginButton {
   margin-top: 15px;
   width: 45px;
   padding-left: 3px;
   color: white;
   background-color: #3366CC;
   border-color: #3366CC;
}

@media all and ( min-width: 800px ) and ( max-width: 1100px ) {
   form.loginForm {
      margin-left: 18.18181818%; /* 200px/1100px */
   }
}

@media all and ( max-width: 800px ) {
   h2.loginMessage {
      display: block;
      clear: both;
      margin-left: 6%;
   }

   form.loginForm {
      clear: both;
      margin-left: 6%;
      width: 80%;
      padding: 2%;
      border: 1px solid green;
   }

   label.loginFormEntry {
      clear: both;
      font-size: 1em;
      margin: 10px 0px;
   }

   span.descriptionInLoginForm {
      display: inline;
      color: black;
   }
}

@media all and ( max-width: 400px ) {
   span.descriptionInLoginForm {
      display: block;
   }
}


/*
   Styles for the elements in the body of the homepage when the user is logged out
*/

div.linkToSignUpPage {
   display: none;
}

div.homepageBody {
   clear: both;
   padding: 6%;
}

div.shortDescription, div.signUpFormContainer {
   float: left;
}

div.shortDescription {
   width: 28%;
   margin-left: 15%;
   margin-right: 15%;
}

h2.shortDescriptionText {
   font-size: 1.25em;
}

div.signUpFormContainer {
   font-size: 1em;
}

input.smallInputFieldForSignUpForm, input.inputFieldForSignUpForm {
   font-size: 1em;
   margin-bottom: 8px;
   border: 1px solid black;
   padding: 0;
   color: #888;
}

input.inputFieldForSignUpForm {
   width: 350px;

}

input.smallInputFieldForSignUpForm {
   width: 170px;
   margin-right: 6px;
}

span.errorMessageInSignUpForm {
   color: red;
   font-family: serif;
   font-size: 0.8em;
}

input.signUpButton, a.signUpButton {
   display: block;
   background-color: green;
   border-color: green;
   width: 170px;
   font-size: 16px;
   color: white;
   text-align: center;
   text-decoration: none;
   padding-top: 7px;
   padding-bottom: 7px;
   border-style: outset;
}

@media all and ( min-width: 800px ) and ( max-width: 1100px ) {
   div.shortDescription {
      margin-left: 0;
   }
}

@media all and ( max-width: 800px ) {
   div.shortDescription, div.signUpFormContainer {
      display: none;
   }

   div.linkToSignUpPage {
      display: block;
   }
}