/*
   Styles for the logged in body
*/

div.loggedInBody {
   margin-left: 15.384615%; /* 200px/1300px */
   width: 46.153846%; /* 600px/1300px */
}


/*
   Styles for the form for posting status update and styles for each status update
*/

form.formForPostingStatusUpdate {
   padding: 0;
}

label.containerForStatusUpdateTextArea, label.containerForStatusUpdateButton {
   display: block;
   width: 100%;
}

label.containerForStatusUpdateTextArea {
   margin: 0;
}

p.statusUpdateDescription {
   padding: 5px;
   margin: 0;
   color: #666;
}

textarea.statusUpdateTextArea {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100px;
   border: 1px solid #CCCCFF;
   font-family: "Comic Sans MS", sans-serif;
   font-size: 1.2em;
}

label.containerForStatusUpdateButton {
   background-color: #EEEEFF;
   height: 40px;
   margin: 0;
   border: 1px solid #CCCCFF;
}

input.statusUpdateButton {
   float: right;
   margin: 10px;
   padding: 3px 30px;
   background-color: #003399;
   color: white;
   border-color: #003399;
}

input.statusUpdateButton:hover {
   background-color: #4477DD;
}


section.statusUpdate {
   background-color: white;
   border: 1px solid #CCCCFF;
   margin: 20px 0px;
   padding: 0;
}

header.statusUpdateHeader {
   padding: 1.6666666667%; /* 10px/600px; where 600px is the 'standard width' of div.loggedInBody (and also the section.statusUpdate) */
}

h2.nameOfPoster {
   margin: 0;
   font-size: 1.1em;
}

h3.timeOfPosting {
   margin: 0;
   font-size: 0.8em;
   font-weight: lighter;
   color: #666;
}

div.statusUpdateText {
   padding: 20px 5%; /* 30px/600px */
}

footer.statusUpdateFooter {
   padding: 0px 1.6666666667%; /* 10px/600px */
   background-color: #EEEEFF;
   border-top: 1px solid #CCCCFF;
   font-size: 0.85em;
}

footer.statusUpdateFooter div {
   padding: 1.33333333333%; /* 8px/600px */
   border-bottom: 1px solid #CCCCFF;
}

form.containerForLikeButton {
   display: inline;
   margin-right: 6.6666666667%; /* 40px/600px */
}

form.containerForCommentField {
   padding: 1.33333333333%; /* 8px/600px */
}

input.commentField {
   padding: 5px;
   width: 80%;
}

input.commentButton {
   padding: 5px;
}

/*
   Styles for comments and names of likers of a status update
*/
a#linkForHidingComments, a#linkForHidingNamesOfLikers {
   display: block;
   margin-bottom: 15px;
}

h1.headingForComments, h1.headingForNamesOfLikers {
   margin: 0;
   font-size: 1.2em;
}

section.comment, li.nameOfLiker {
   border-bottom: 1px solid #CCCCFF;
   border-radius: 50px;
   margin-top: 3px;
}

header.commentHeader {
   margin-right: 3.3333333333%; /* 20px/600px */
}

h2.nameOfCommenter {
   display: inline;
   font-size: 1em;
   margin: 3px;
   color: #003399;
}

h3.timeOfCommenting {
   display: inline;
   font-size: 0.8em;
   font-weight: normal;
   font-style: italic;
   margin: 3px;
   color: #777;
}

p.commentText {
   padding: 8px;
   margin-top: 0px;
   margin-left: 2%;
}

a#linkForViewingNewerComments, a#linkForViewingMoreNamesOfLikers {
   float: right;
}

@media all and ( min-width: 500px ) and ( max-width: 800px ) {
   div.loggedInBody {
      width: 70%;
   }
}

@media all and ( max-width: 500px ) {
   div.loggedInBody {
      width: 95%;
      margin: auto;
   }
}

@media all and ( max-width: 400px ) {
   header.commentHeader {
      float: none;
   }
}