body {
   font-family: sans-serif;
   font-size: 16px;
}

@media all and ( max-width: 560px ) {
   body {
      font-size: 14px;
   }
}

h1.mainHeader {
   background-color: #003399;
   color: white;
   font-family: "Copperplate Gothic Bold", "Agency FB", sans-serif;
   display: inline;
   margin-top: 0;
   padding: 1.25%; /* 10px/800px; where 800px is the "standard width" of the "body" element */
}

a.linkInMainHeader {
   color: #DDD;
   text-decoration: none;
}

div.signUpFormContainer {
   font-size: 1em;
   width: 70%; /* 560px/800px */
   margin: 3.75% auto; /* 3.75% == 30px/800px */
   padding: 2.5%; /* 20px/800px */
   border: 1px solid black;
}

input.smallInputFieldForSignUpForm, input.inputFieldForSignUpForm {
   font-size: 1em;
   margin-bottom: 15px;
   border: 1px solid black;
   padding: 0;
   color: #888;
}

input.inputFieldForSignUpForm {
   width: 89.285714%; /* 500px/560px; where 560px is the "standard width" of the "div.signUpFormContainer" */
}

input.smallInputFieldForSignUpForm {
   width: 43.75%; /* 245px/560px */
   margin-right: 1.071428571428%; /* 6px/560px */
}

span.errorMessageInSignUpForm {
   color: red;
   font-family: serif;
   font-size: 0.8em;
}

input.signUpButton, a.signUpButton {
   display: block;
   background-color: green;
   border-color: green;
   width: 170px;
   font-size: 16px;
   color: white;
   text-align: center;
   text-decoration: none;
   padding-top: 7px;
   padding-bottom: 7px;
   border-style: outset;
}
