/*
   Styles for the profile details (user details)
*/

section.userDetail {
   width: 76.4705882352941%; /* 650px/850px; 850px is the 'standard width' of section.mainSectionOfProfilePage */
   margin-left: 23.5294176470588%; /* 200px/850px */
   margin-top: 20px;
   border: 1px solid #CCCCFF;
}

header.headerForUserDetail {
   background-color: #EEEEFF;
   border-bottom: 1px solid #CCCCFF;
   width: 100%;
   height: 40px;
   margin: 0;
}

h2.headingForUserDetail, p.editLinkForUserDetail {
   padding: 10px;
   margin: 0px;
}

h2.headingForUserDetail {
   float: left;
   width: 60%;
   font-family: "Times New Roman", serif;
   font-weight: bolder;
   text-transform: uppercase;
   font-size: 0.8125em;
}

p.editLinkForUserDetail {
   float: right;
   text-align: right;
}

p.bodyForUserDetail {
   clear: both;
   background-color: white;
   padding: 50px 10px;
   margin: 0;
}

section.userDetail a {
   text-decoration: none;
}

@media screen and (max-width: 560px) {
   /*
      When the browser window has width of 560px, then the section.mainSectionOfProfilePage has 
      a width of: (90% * 560px = 504px)
   */
   section.userDetail {
      width: 99.2063492%;  /* 500px/504px */
      margin-left: 0.793650%; /* 4px/504px */
   }  
}
