body {
   font-family: sans-serif;
   font-size: 16px;
}

h1.mainHeading {
   font-family: "Brush Script MT", "Blackadder ITC", "Script MT Bold", sans-serif;
   color: #003399;
   text-align: center;
   font-size: 2.5em;
   background-color: #EEEEFF;
   margin: 0;
   padding: 20px 5px;
}

a.ifeFacebookLogo {
   font-family: Aharoni, sans-serif;
   font-size: 0.8em;
   text-decoration: none;
}

section.mainSection {
   background-color: #003399;
   color: white;
   width: 50%;
   padding: 3.076923%; /* 40px/1300px; where 1300px is the "standard width" of the "body" element */
   margin: auto;
}

div.loginDetails {
   padding: 3.076923%; /* 20px/650px; where 650px is the standard width of "section.mainSection" */
   border-left-style: double;
}

section.mainSection a {
   color: #FF8080;
}

@media all and ( max-width: 1000px ) {
   h1.mainHeading {
      font-size: 2em;
   }
}

@media all and ( max-width: 560px ) {
   body {
      font-size: 14px;
   }

   section.mainSection {
      width: 80%;
   }
}